process {
    executor = 'awsbatch'
    queue = 'amy_pxktest'
    withLabel: small {
        cpus = 1
        memory = '500 MB'
    }

    withLabel: medium {
        cpus = 2
        memory = '1 GB'
    }
    
    withLabel: large {
        cpus = 4
        memory = '4 GB'
    }

    withLabel: stage {
        storeDir = "s3://modulome/stage/${params.organism}"
    }

}

params.outdir = "s3://modulome/amy/1_PxK/Output_2/"

aws {
    region = 'us-east-2'
    batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    batch.maxParallelTransfers = 1
    client.maxConnections = 8
    client.maxTransferAttempts = 5
}
