// Name of your organism
params.organism = "Escherichia_coli" // Example: "Escherichia_coli"

// Whether to re-run execution if the result was already found
params.force = false

// Defaults for organism directory and metadata file
params.org_dir = "/Users/louxuwen/Documents/GitHub/iModulonMinerPxK/2_process_data/" // Root location of your project files
params.metadata = "metadata_public_batch_2_1991.txt" // Must be a tab-separated values file in .txt format
params.sequence_dir = "sequence_files/" // Must contain a genome.gff3 and genome.fasta file
